In [4]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

In [12]:
df = dd.read_csv('data/test_set_batch2.csv')
df.head()

   object_id         mjd  passband       flux   flux_err  detected
0    1000183  59583.2493         0  -4.635374   9.278234         0
1    1000183  59585.3547         4   6.479336  11.734409         0
2    1000183  59586.3595         4 -24.911951  13.357832         0
3    1000183  59590.3573         5 -67.180305  21.674242         0
4    1000183  59597.1711         5  78.801926  65.485069         0

In [ ]:
pd.cut(df['flux'], bins=64)

[(-10896.609, 196920.281], (-10896.609, 196920.281], (-10896.609, 196920.281], (-10896.609, 196920.281], (-10896.609, 196920.281], ..., (-10896.609, 196920.281], (-10896.609, 196920.281], (-10896.609, 196920.281], (-10896.609, 196920.281], (-10896.609, 196920.281]]
Length: 44281695
Categories (64, interval[float64, right]): [(-6882154.281, -6661037.109] < (-6661037.109, -6453220.219] < (-6453220.219, -6245403.328] < (-6245403.328, -6037586.438] ... (5600159.438, 5807976.328] < (5807976.328, 6015793.219] < (6015793.219, 6223610.109] < (6223610.109, 6431427.0]]